<a href="{% url "home" %}">Home</a>
<a href="{% url "profiles" %}">Profiles</a>

{% if request.user.is_authenticated %}

<a href="{% url "update-user" %}">UpdateUser</a>
<a href="{% url "logout" %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<nav>
    <div class="brand">
        <h3>MyBrand</h3>
    </div>
    <div class="navigation">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="search">
            <div class="search-content">
                <button class="search-button"><i class="fa fa-search"></i></button>
                <input type="text" class="search-input" placeholder="Search here...">
            </div>
        </div>
    </div>
</nav>






<form action="{% url "home" %}" method="GET">
    <input type="text" name="q" placeholder='Search Rooms...' />
</form>
<hr>
<hr>
{% if request.user.is_authenticated %}
    <p>Hello {{request.user}}</p>
{% endif %}



<script>
    function toggleNavbar() {
        var x = document.getElementById("myNavbar");
        if (x.className === "navbar") {
            x.className += " responsive";
        } else {
            x.className = "navbar";
        }
    }
    
</script>