{% extends "main.html" %}

{% block content %}


    <div class='home-container'>
        <div class="line container-1">
            {% include "base/topics_component.html" %}
        </div>

        <div class="line container-2">
            <div class="topic-head">
                <h3>{{room_count}} Rooms Available</h3>
            </div>
            <a class="create-room" href="{% url "create-room" %}">CREATE ROOM</a>
            <hr>
            {% include "base/feed_component.html" %}
        </div>

        <div class="line container-3">
            {% include "base/activity_component.html" %}
        </div>



    </div>


{% endblock content %}